* {
  font-size: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f0f0f3;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

table {
  background-color: #f0f0f3;
  box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 8px;
  padding: 1.5rem 1rem;
  min-height: min(50vh, 350px);
}

td {
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
}

.table-header {
  padding-bottom: 1rem;
}

input[type="button"] {
  width: 100%;
  padding: 1rem 0.75rem;

  border: none;
  box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  background-color: #f0f0f3;
}

input[type="button"]:hover {
  box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7),
    inset 1px 1px 2px rgba(174, 174, 192, 0.2);
  background-color: #f0f0f3;
}

input[type="text"] {
  background-color: #e9edf0;
  border: 0.5px solid #fefeff;
  box-sizing: border-box;
  box-shadow: inset 5px 5px 10px rgba(166, 180, 200, 0.75),
    inset -5px -5px 15px rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  padding: 1rem 0.5rem;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 5px 5px 10px rgba(166, 180, 200, 0.75),
    inset -5px -5px 15px rgba(255, 255, 255, 0.75), 0 0 5px #c1c1c1;
}
